.feed-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  min-height: 200vh;
}

@media only screen and (min-width: 420px) {
  .feed-column {
    padding: 62px 0;
  }
}

@media only screen and (min-width: 768px) {
  .feed-column {
    padding: 62px 0;
  }
}
