.top-nav {
  height: 45px;
  top: 0;
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  z-index: 2000;
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 1em;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.top-nav .links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.top-nav .hero-link {
  font-size: 1.4rem;
  font-weight: 900;
}

.top-nav .links ul {
  display: flex;
  gap: 1em;
}

.top-nav .links ul li {
  list-style: none;
  transition: transform 100ms ease-in;
  border-radius: 5px;
}

.top-nav .links ul li span {
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 2.5px 7.5px;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

.top-nav a:visited {
  color: white;
}

.top-nav .links ul li span,
.top-nav button {
  transition: transform 100ms ease-in-out;
}

.top-nav .links ul li span:hover,
.top-nav button:hover {
  /* transform: scale(1.05); */
  /* text-decoration: underline 1px solid white;
  text-underline-offset: 3px; */
  color: var(--hover-blue);
}

.top-nav button {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.top-nav button span {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.top-nav span .friend-request-notification {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: none;
  font-size: 0.45rem;
  position: absolute;
  bottom: 17px;
  left: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
