.top-nav {
  top: 0;
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  z-index: 2000;
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.top-nav .links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

.top-nav a:visited {
  color: white;
}
