.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  min-height: 100dvh;
}

.profile-layout {
  width: clamp(200px, 100%, 1000px);
}

@media only screen and (min-width: 768px) {
  .profile-layout {
    display: grid;
    grid-template-columns: 400px 1fr;
    padding: 1em;
  }

  .profile-layout .sticky-column {
    display: grid;
    grid-template-columns: 1fr;
    position: sticky;
    top: 0;
    align-self: start;
    padding: 0 1em;
    padding: 57px 1em;
  }

  .profile-layout .sticky-column:first-child {
    overflow: auto;
  }

  .profile-layout .main-column {
    padding-top: 40px;
  }
}
