.comment-card {
  border: 1px solid var(--border-grey);
  margin-bottom: 1em;
  border-radius: 5px;
}

.comment-card .card-top {
  /* background-color: rgb(243, 243, 243); */
  background-color: rgb(247, 248, 248);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid var(--border-grey);
}

.comment-card .comment-card-username {
  font-size: 1.25rem;
  font-weight: 700;
}

.comment-card .comment-card-username a {
  text-decoration: none;
}

.comment-card .comment-card-username a span {
  display: flex;
  align-items: center;
  gap: 0.75em;
  color: var(--dark-blue);
}

.comment-card .comment-card-username a span img {
  max-height: 30px;
  border-radius: 100vw;
}

.comment-card .card-bottom {
  padding: 0.5em;
}

.comment-card .comment-card-date {
  font-size: 0.7rem;
  color: grey;
  font-weight: 500;
  margin-top: 0.5em;
}

.comment-card .comment-card-text {
  margin-bottom: 1.25em;
  color: var(--dark-blue);
  white-space: pre-wrap;
}

@media only screen and (min-width: 768px) {
  .comment-card .card-bottom {
    padding: 1em;
  }
}
