/* .new-post-details .equipment {
  display: flex;
  flex-direction: column;
} */
/* 
.new-post-details .details-inputs {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
} */
