.login-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 500px 60px;
}

.login-page h1 {
  color: white;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
}

.login-page .sidebar {
  background-color: rgba(33, 38, 61, 0.319);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 1.5em;
  grid-column-start: 2;
}

.login-page .sidebar p {
  color: white;
  font-weight: 700;
}

.flip-card-wrapper {
  width: clamp(250px, 100%, 300px);
}

@media only screen and (max-width: 1075px) {
  .login-page {
    display: flex;
    justify-content: center;
  }

  .login-page .sidebar {
    width: clamp(300px, 500px, 600px);
  }
}
