.home-wrapper {
  min-height: 100vh;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper .home-main {
  width: clamp(200px, 100%, 1200px);
  /* background-color: white; */
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .home-wrapper {
    min-height: 0;
    max-height: 100vh;
    height: calc(100vh - 45px);
  }
  .home-wrapper .home-main {
    /* background-color: rgb(220, 242, 220); */
    display: grid;
    grid-template-columns: 500px 500fr;
  }

  .feed-wrapper {
    overflow-y: auto;
  }

  .feed-wrapper::-webkit-scrollbar {
    width: 0.5em;
  }

  .feed-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
  }

  .feed-wrapper:hover.feed-wrapper::-webkit-scrollbar-track {
    border-radius: 100vw;
  }

  .feed-wrapper:hover.feed-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 100vw;
  }
}
