.conditions-detail {
  width: 120px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conditions-detail ion-icon {
  font-size: 2rem;
  color: var(--darkest-blue);
  fill: var(--dark-blue);
}
