.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 3px;
}

.login-form input {
  width: 100%;
  font-weight: 500;
  color: var(--dark-blue);
  padding: 0 0.25em;
}

.login-form .btn {
  margin-top: 0.5em;
}
