.session-form-wrapper {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.session-form-layout {
  width: 100%;
}

.session-form {
  padding: 1em;
  width: 100%;
  padding: 0;
}
.session-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  color: var(--dark-blue);
}

.session-form h3 {
  color: var(--dark-blue);
  margin-bottom: 0.25em;
}
.sticky {
  display: grid;
  grid-template-columns: 1fr;
}

.session-form hr {
  width: 100%;
  border-top: 0.5px solid var(--border-grey);
  margin: 1.25em 0;
}

.session-form label {
  color: grey;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .session-form-wrapper {
    min-height: 100%;
  }
  .session-form-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: clamp(200px, 100%, 800px);
    padding: 1em;
    box-sizing: border-box;
  }

  .sticky {
    position: sticky;
    top: 0;
    align-self: start;
  }

  .date .date-selection {
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .session-form-wrapper {
    padding-bottom: 75px;
  }
}
