.new-post-form {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 100%, 500px);
  padding-bottom: 75px;
}

.new-post-form .create-post-btn {
  background-color: var(--medium-blue);

  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0.5em;
  width: 100%;
  margin-top: 10px;
}
