.session-detail-wrapper {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.session-detail-wrapper main {
  background-color: white;
  width: clamp(200px, 100%, 1100px);
  display: grid;
  grid-template-rows: 250px auto;
}

.session-detail-wrapper .session-details .header {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  width: clamp(200px, 100%, 1200px);
  background-color: white;
  color: var(--dark-blue);
}

.session-detail-wrapper .session-details .header .text .date-and-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-detail-wrapper .session-details .header .text .date-and-edit a,
.session-detail-wrapper .session-details .text .title-and-edit a {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 0.8rem;
  padding: 0.25em 0.5em;
}

.session-detail-wrapper .session-details .header .text .date-and-edit a:hover,
.session-detail-wrapper .session-details .text .title-and-edit a:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.session-detail-wrapper .session-details .header .text .date-and-edit span,
.session-detail-wrapper .session-details .text .title-and-edit span {
  display: flex;
  align-items: center;
  gap: 0.25em;
  text-decoration: none;
}

.session-detail-wrapper .session-details .header .username {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--dark-blue);
}

.session-detail-wrapper .session-details .header .username img {
  max-height: 40px;
  border-radius: 100vw;
}

.session-detail-wrapper .session-details .header .user-likes-comments {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.session-detail-wrapper .session-details .text {
  padding: 1em;
  padding-bottom: 75px;
}

.session-detail-wrapper .session-details .text .date {
  color: grey;
  font-size: 0.8rem;
}

.session-detail-wrapper .session-details .text .title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--dark-blue);
  margin-bottom: 0.35em;
}

.session-detail-wrapper .session-details .likes-comments {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--dark-blue);
}

.session-detail-wrapper .session-details .likes-comments .comments-count {
  display: flex;
  gap: 0.25em;
}

.session-detail-wrapper .session-details .likes-comments ion-icon {
  font-size: 1.5rem;
}

.session-detail-wrapper .session-details .text hr {
  border: none;
  border-bottom: 1px solid var(--border-grey);
  margin: 1em 0;
}

.session-detail-wrapper .session-details .conditions-wrapper {
  display: flex;
  justify-content: space-around;
}

.session-detail-wrapper .session-details .text .title-and-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.session-detail-wrapper .session-details .text .equipment-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.session-detail-wrapper .session-details .session-details.map {
  background-color: rgb(207, 207, 243);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.session-detail-wrapper .session-details .session-description {
  white-space: pre-wrap;
}

.session-detail-wrapper .session-details.wrap-up {
  margin-top: 1em;
  width: clamp(200px, 100%, 1200px);
  padding: 1em;
  background-color: white;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  color: var(--darkest-blue);
}

@media only screen and (min-width: 768px) {
  .session-detail-wrapper main {
    background-color: white;
    width: clamp(200px, 100%, 1100px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .session-detail-wrapper .session-details .text {
    padding: 1em 2em;
    padding-bottom: 200px;
  }

  .session-detail-wrapper .session-details .header .user-likes-comments {
    flex-direction: row;
    justify-content: space-between;
  }

  .session-detail-wrapper .session-details .conditions-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 4em;
  }
}
