:root {
  --darkest-blue: #011826;
  --dark-blue: #024059;
  --medium-blue: #0082a0;
  --light-blue: #82c9d9;
  --turquoise: #0396a6;
  --bg-grey: rgb(248, 248, 248);
  --border-grey: rgb(236, 236, 236);
  --input-border: rgb(212, 211, 211);
  --accent-orange: rgb(255, 220, 156);
  --accent-orange-strong: rgb(253, 214, 143);
  overflow-y: scroll;
}

::placeholder {
  color: rgb(179, 179, 179);
}

label {
  font-weight: 400;
}

input,
textarea {
  border: 1px solid var(--input-border);
  border-radius: 6px;
  padding: 0 0.25em;
}

input:focus,
textarea:focus {
  outline: 1.5px solid var(--dark-blue);
}

.page-column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-layout {
  min-height: 100dvh;
}

@media only screen and (max-width: 768px) {
  .page-wrapper {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .app-layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }
}
