.profile-about {
  margin-top: 17px;
  background-color: white;
  padding: 1em 1.5em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.profile-about h3:nth-of-type(2) {
  margin-top: 1em;
}

.profile-about .joined {
  font-size: 0.8rem;
  color: grey;
}

.profile-about .favourite-sports ul {
  padding-left: 20px;
  margin: 0;
}

@media only screen and (min-width: 420px) {
  .profile-about {
    border-radius: 10px;
  }
}
